/*#Help_navbar_item {
    text-align: center;
    color: black;
    font-weight: bold;
    background-color:dodgerblue;
    border: none;
    text-decoration: none;
    display:inline-block; 
    margin: 4px 330%; 
    cursor: pointer;
    border-radius: 16px;
    } */

h3 {
  font-weight: bold;
  /*  text-align: center;
      margin-left: 135px; */
}

h4 {
  font-weight: bold;
  /*  text-align: center; */
  font-size: large;
}

#overview_structure {
  display: flex;
  justify-content: center;
} /*

#overview_img_txt_cont {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid #333;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    justify-content: center;
    margin: 8px;
    align-items: center;
} */

.jumbo {
  background: url("../../assets/images/LeafWithWater.jpeg") no-repeat fixed
    bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
}

.jumboco2 {
  background: url("../../assets/images/CO2.jpg") no-repeat fixed
    bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}

/*
.flex-item1 {
  line-height: 40px;
  border: 2px solid #333;
  padding: 10px;
}

.flex-item2 {
  line-height: 40px;
  border: 2px solid #333;
  padding: 10px;
}

.flex-item3 {
  line-height: 40px;
  border: 2px solid #333;
  padding: 10px;
}

.flex-item4 {
  line-height: 40px;
  border: 2px solid #333;
  padding: 10px;
} */

#logo {
  display: flex;
  justify-content: right;
  margin-right: 5px;
  float: right;
}

#valuesred {
  color: red;
}

#valuesyellow {
  color: orange;
}

#valuesgreen {
  color: green;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /*background-color: DodgerBlue;*/
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 250px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

/*
#boxred {
  color: red;
}

#boxorange {
  color: orange;
}

#boxgreen {
  color: green;
} */

#Overview_red_img_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}  

.Navbar .rigthSide {
  flex: 50%;
  display: flex;
  justify-content: right;
  align-items: right;
  padding-right: 25px; 
} 

  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
  } */

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar #linkem:hover {
  color: black;
}

.navbar #linkco2:hover {
  color: black;
}

.navbar #linkno2:hover {
  color: black;
}

.navbar #linkch4:hover {
  color: black;
}

.navbar #linkhfc:hover {
  color: black;
}

.navbar #linkpfc:hover {
  color: black;
}

.navbar #linksf6:hover {
  color: black;
}

.navbar #linkairhumidity:hover {
  color: black;
}

.navbar #linktemperature:hover {
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4caf50;
  color: white;
}

@media (max-width: 1200px) {
  #Help_navbar_item {
    margin: 4px 2px;
  }

  #overview_structure {
    width: 80%;
    height: 80%;
  }
}
