h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: large;
}

#overview_structure {
  display: flex;
  justify-content: center;
}

#unibw {
  margin: 3%;
}

#cu {
  margin: 3%;
}

.jumbo {
  background: url("../../assets/images/LeafWithWater.jpeg") no-repeat fixed
    bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
}

.jumboco2 {
  background: url("../../assets/images/CO2.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}

.jumbotemp {
  background: url("../../assets/images/temperature.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}

.jumboah {
  background: url("../../assets/images/airhumidity.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}

#logo {
  display: flex;
  justify-content: right;
  margin-right: 5px;
  float: right;
}

#valuesred {
  color: red;
}

#valuesyellow {
  color: orange;
}

#valuesgreen {
  color: green;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 250px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

#Overview_red_img_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar #linkem:hover {
  color: black;
}

.navbar #linkco2:hover {
  color: black;
}

.navbar #linkno2:hover {
  color: black;
}

.navbar #linkch4:hover {
  color: black;
}

.navbar #linkhfc:hover {
  color: black;
}

.navbar #linkpfc:hover {
  color: black;
}

.navbar #linksf6:hover {
  color: black;
}

.navbar #linkairhumidity:hover {
  color: black;
}

.navbar #linktemperature:hover {
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4caf50;
  color: white;
}

@media (max-width: 1200px) {
  #Help_navbar_item {
    margin: 4px 2px;
  }

  #overview_structure {
    width: 80%;
    height: 80%;
  }
}
.badge {
  font-size: 100%;
  margin: 2px;
}