.jumbo {
  background: url("../../assets/images/LeafWithWater.jpeg") no-repeat fixed
    bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
}
.jumboco2 {
  background: url("../../assets/images/CO2.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}
.jumbo-humidity {
  background: url("../../assets/images/airhumidity.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}
.jumbo-temperature {
  background: url("../../assets/images/temperature.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}
.jumbono2 {
  background: url("../../assets/images/no2.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}
.jumbopm2 {
  background: url("../../assets/images/pm2.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}
.jumbopm10 {
  background: url("../../assets/images/pm10.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}
.jumboso2 {
  background: url("../../assets/images/so2.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #ccc;
  height: 200px;
  position: relative;
  z-index: -2;
  background-position: 0 50%;
}

.overlay {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.certificate {
  height: 90px;
  width: 100px;
}
.infobox {
  border-style: solid;
  border-width: 1px;
  border-color: #666;
}

.dateselector p {
  margin: 5px;
}
.dateselector-button {
  margin-top: 10px;
}

.value-modal {
  min-width: 90%;
}

.low {
  color: #008000;
}
.medium {
  color: #ffa500;
}
.extreme {
  color: #ff0000;
}
.card-body.low {
  background-color: #008000;
  color: #ccc;
}
.card-body.medium {
  background-color: #ffa500;
  color: #fff;
}
.card-body.extreme {
  background-color: #ff0000;
  color: #eee;
}
